<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>142188078204-78lrtav72dkae1i1m7rbjb2g46vusg18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.142188078204-78lrtav72dkae1i1m7rbjb2g46vusg18</string>
	<key>API_KEY</key>
	<string>AIzaSyAUpDz_A9sEm83_pNYzrTLtdvhNkF0KAvA</string>
	<key>GCM_SENDER_ID</key>
	<string>142188078204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nuios.MealPlannerApp</string>
	<key>PROJECT_ID</key>
	<string>recipefitnesstracker</string>
	<key>STORAGE_BUCKET</key>
	<string>recipefitnesstracker.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:142188078204:ios:6d227f8d6d7c76d82355f9</string>
</dict>
</plist>